.container {
  position: fixed;
  top: 30vh;
  left: 0;
  width: 280px;
  height: 180px;
  border-radius: 12px;
  transform: translateX(50vw) skewX(60deg);;
  will-change: transform;
  z-index: 1000;
}
.shadow{
  z-index: 10;
  position: absolute;
  bottom: -100px;
  left: 17%;
  width: 40%;
  background-color: black;
  opacity: 0.2;
  transform: skewX(-60deg);
  filter: blur(40);
  border-radius: 20%;
  box-shadow: 0px 0px 10px 30px rgba(0, 0, 0, 0.7);
}