html{
  font-size: 25px;
  scroll-behavior: smooth;
}
:root {
  --color-dark-light-mode: black;
  --color-dark-light-form-background: #173168d2;
}

* {
  box-sizing: border-box !important;
  font-family: 'Dongle', 'Roboto', sans-serif !important;
  font-weight: 500;
}

body {
  background-color: #00000024;
  overflow-x: hidden;
  transition: background-color 180ms ease, color 180ms ease;
}

body.dark-mode {
  --color-dark-light-mode: white;
  background-color: #05112b !important;
  color: var(--color-dark-light-mode) !important;
}

body.light-mode {
  --color-dark-light-mode: black;
  background-color: #00000024 !important;
  color: var(--color-dark-light-mode) !important;
}
