#root{
  padding-top: 1.5rem !important;
  margin: 0px !important;
}
body{
  background-color: rgba(0, 0, 0, 0.14);
  
}
.dark-mode{
  background-color: rgb(5, 17, 43);
}
.dark-mode{
  color: white;
}