html{
  font-size: 25px;
}
:root {
  --color-dark-light-mode: black;
}

* {
  box-sizing: border-box !important;
  font-family: 'Dongle', 'Roboto', sans-serif !important;
  font-weight: 500;
}

body {
  background-color: rgba(0, 0, 0, 0.14);
  overflow-x: hidden;
}

.dark-mode {
  --color-dark-light-mode: white;
  background-color: rgb(5, 17, 43);
  color: var(--color-dark-light-mode);
}
