*{
  box-sizing: border-box !important;
  font-family: 'Dongle' , 'Roboto', sans-serif !important;
}
#root{
  padding-top: 1.5rem !important;
  margin: 0px !important;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
body{
  background-color: rgba(0, 0, 0, 0.14);
  overflow-x: hidden;
}
.dark-mode{
  background-color: rgb(5, 17, 43);
}
.dark-mode{
  color: white;
}